.mainOuter{
      min-height:100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.loginPage{
      background-color: white;
      padding: 2rem;
      border-radius: 1rem;
}
.inputSection{
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
}
.inputSection input{
      height: 2rem;
      border:1px solid grey;
      border-radius: .5rem;
      padding-left: .5rem;
}
.inputSection input:focus{
      outline:none;
}
.inputSection label{
      opacity: .9;
      font-size: 14px;
      margin-bottom: .5rem;
}
.headerSection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
}
.loginButtonDiv{
      display: flex;
      width: 100%;
      padding-top: 1.3rem;
}
.loginButton{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: black;
      border: none;
      color: white;
      padding: .7rem;
      border-radius: .5rem;
      cursor: pointer;
      text-transform: uppercase;
}
.loginButton:hover{
      background-color: rgb(12, 12, 12);
}
.loginTitle{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
}
.loginDescription{
      opacity: .7;
      font-size: 13px;
      letter-spacing: 1px;
}